html {
  --text: #fafafa;
  --background: #050505;
  --primary: #4e39ac;
  --secondary: #120d26;
  --accent: rgb(154, 140, 217);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.fancyLink {
  color: var(--accent);
  font-weight: bold;
}

/*Footer Styles*/

.footerContainer {
  margin-top: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  border-top: 1px solid var(--primary);
  width: min-content;
  height: min-content;
  padding: 10px;
}

.footerList {
  display: flex;
  flex-direction: row;
}

.footerItemText {
  display: flex;
  flex-direction: row;
  color: var(--text);
  font-size: 16px;
  margin: 0 20px 0 20px;
  align-self: center;
  list-style: none;
}