html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1E1E1E;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Consolas !important;
  color: white;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  color: #987EF1;
  font-size: 64px;
  text-align: center;
  font-family: Consolas;
}

h2 {
  font-size: 48px;
}

.ShortDescription{
  width: 451px;
  color: #987EF1;
  font-size: 24px;
  text-align: center;
}

.viewDisplayContainer{
  width:100%;
  padding: 32px 100px;
  display: flex;
  background-color: #303030;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


@media screen and (max-width: 1000px) {
  .viewDisplayContainer {
    flex-direction: column;
  }
}


.viewDisplayItem{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.viewDisplayItem span {
  color: white;
  font-size: 40px;
}

.openDialog{
  padding-top: 200px;
}